<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta Baneada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/banned.css') }}">
</head>
<body>
    <div class="container">
        <div class="icon">🚫</div> <!-- Icono de prohibido -->
        <h1>Tu cuenta ha sido baneada</h1>
        <p>Lo sentimos, pero tu cuenta ha sido baneada. Si crees que esto es un error o deseas solicitar un desbaneado, por favor contacta con el soporte a través del siguiente enlace.</p>
        <a href="https://discord.com/invite/qexCVj6wbB" class="support-link" target="_blank">Contactar Soporte</a> <!-- Enlace a Discord -->
    </div>
</body>
</html>
