<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control en Tiempo Real</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>Control en Tiempo Real</h1>
    <div id="status">Conectando...</div>
    <div id="data">
        <h3>Usuarios Conectados:</h3>
        <ul id="user-list"></ul>
    </div>

    <script src="{{ url_for('static', filename='js/realtime.js') }}"></script>

</body>
</html>
